body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1273px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:816px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:140px;
  width:1088px;
  height:816px;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:400px;
  width:1084px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.686274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:145px;
  width:1088px;
  height:69px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1084px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:167px;
  width:62px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:167px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:167px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:167px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:167px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:170px;
  width:78px;
  height:20px;
  font-size:18px;
  text-align:center;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:150px;
  width:69px;
  height:60px;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:169px;
  width:39px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:189px;
  word-wrap:break-word;
}
#u1589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:52px;
  background:inherit;
  background-color:rgba(153, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:88px;
  width:246px;
  height:52px;
  font-size:20px;
  color:#FFFFFF;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u1591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
  color:#FFFFFF;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:189px;
  word-wrap:break-word;
}
#u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CC0000;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
  color:#CC0000;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  word-wrap:break-word;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
  color:#009900;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  word-wrap:break-word;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:862px;
  width:1088px;
  height:94px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:1084px;
  word-wrap:break-word;
}
#u1600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:81px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:869px;
  width:86px;
  height:81px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:81px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:869px;
  width:86px;
  height:81px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:233px;
  width:669px;
  height:353px;
}
#u1604_input {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:353px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:144px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:605px;
  width:180px;
  height:144px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:144px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:605px;
  width:180px;
  height:144px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:144px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:605px;
  width:180px;
  height:144px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:605px;
  width:129px;
  height:144px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:653px;
  width:50px;
  height:48px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:144px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.466666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:605px;
  width:171px;
  height:144px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:616px;
  width:22px;
  height:21px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:796px;
  width:140px;
  height:40px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
