body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1562px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:1045px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:140px;
  width:1088px;
  height:1045px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:514px;
  width:1084px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.686274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:145px;
  width:1088px;
  height:69px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1084px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:170px;
  width:78px;
  height:20px;
  font-size:18px;
  text-align:center;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:150px;
  width:69px;
  height:60px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:169px;
  width:39px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:189px;
  word-wrap:break-word;
}
#u1697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:52px;
  background:inherit;
  background-color:rgba(153, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:88px;
  width:246px;
  height:52px;
  font-size:20px;
  color:#FFFFFF;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u1699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
  color:#FFFFFF;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:189px;
  word-wrap:break-word;
}
#u1701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CC0000;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
  color:#CC0000;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  word-wrap:break-word;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:18px;
  width:193px;
  height:77px;
  font-size:20px;
  color:#009900;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  word-wrap:break-word;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1091px;
  width:1088px;
  height:94px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:1084px;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:81px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1098px;
  width:86px;
  height:81px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:81px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:1098px;
  width:86px;
  height:81px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:472px;
  width:669px;
  height:353px;
}
#u1712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:353px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:144px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:844px;
  width:180px;
  height:144px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:144px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:844px;
  width:180px;
  height:144px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:144px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:844px;
  width:180px;
  height:144px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:844px;
  width:129px;
  height:144px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:892px;
  width:50px;
  height:48px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:144px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.466666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:844px;
  width:171px;
  height:144px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:855px;
  width:22px;
  height:21px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1035px;
  width:140px;
  height:40px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:168px;
  width:62px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:168px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:168px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:168px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:168px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:168px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:168px;
  width:96px;
  height:25px;
  font-size:20px;
  text-align:center;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:625px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:145px;
  width:372px;
  height:625px;
  text-align:left;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:590px;
  width:30px;
  height:40px;
  font-size:18px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u1748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CC0000;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:167px;
  width:356px;
  height:75px;
  font-size:18px;
  color:#CC0000;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u1750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:252px;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:210px;
  width:1088px;
  height:252px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:1084px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:256px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:328px;
  width:343px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u1756_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:278px;
  width:30px;
  height:40px;
  font-size:18px;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u1758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#009900;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:252px;
  width:356px;
  height:50px;
  font-size:18px;
  color:#009900;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
